:root {
  font-size: 16px;
  --primary-color: #5fcf80;
  --primary-hover-color: #5fcf80b2;
  --secondary-color: #EBECFD;

  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1D2939;
  --gray-900: #101828;

  --blue-100: #D1E9FF;
  --blue-500: #2E90FA;
  --blue-600: #1570EF;

  --orange-25: #FFFAF5;
  --orange-50: #FFF6ED;
  --orange-100: #FFEAD5;

  --error-50: #FEF3F2;
  --error-700: #B42318;

  --warning-200: #FDE68A;
  --warning-600: #D97706;

  --success-200: #BBEEBB;
  --success-500: #12B76A;
  --success-700: #29A329;
}

* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.form-group {
  margin-bottom: 12px;
}

.list-style-none {
  list-style: none !important;
}

.vh-100 {
  height: 100vh !important;
}

.h-fit-content {
  height: fit-content !important;
}

.w-fit-content {
  width: fit-content !important;
}
.w-10 {
  width: 10% !important;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1 !important;
}

.flex-1 {
  flex: 1 !important;
}
.resize-none {
  resize: none !important;
}

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-20 {
  font-size: 20px !important;
}

.text-24 {
  font-size: 24px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

input[type='radio'] {
  accent-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.border-secondary {
  border-color: var(--secondary-color) !important;
}

.text-gray-50 {
  color: var(--gray-50) !important;
}

.bg-gray-50 {
  background: var(--gray-50) !important;
}

.text-gray-100 {
  color: var(--gray-100) !important;
}

.bg-gray-100 {
  background: var(--gray-100) !important;
}
.text-gray-200 {
  color: var(--gray-200) !important;
}

.bg-gray-200 {
  background: var(--gray-200) !important;
}

.text-gray-300 {
  color: var(--gray-300) !important;
}

.bg-gray-300 {
  background: var(--gray-300) !important;
}

.border-gray-300 {
  border-color: var(--gray-300) !important;
}

.text-gray-400 {
  color: var(--gray-400) !important;
}

.bg-gray-400 {
  background: var(--gray-400) !important;
}

.text-gray-500 {
  color: var(--gray-500) !important;
}

.bg-gray-500 {
  background: var(--gray-500) !important;
}

.text-gray-600 {
  color: var(--gray-600) !important;
}

.bg-gray-600 {
  background: var(--gray-600) !important;
}

.text-gray-700 {
  color: var(--gray-700) !important;
}

.bg-gray-700 {
  background: var(--gray-700) !important;
}

.text-gray-800 {
  color: var(--gray-800) !important;
}

.bg-gray-800 {
  background: var(--gray-800) !important;
}

.border-gray-800 {
  border-color: var(--gray-800) !important;
}

.text-gray-900 {
  color: var(--gray-900) !important;
}

.bg-gray-900 {
  background: var(--gray-900) !important;
}

.text-blue-100 {
  color: var(--blue-100) !important;
}

.bg-blue-100 {
  background: var(--blue-100) !important;
}

.text-blue-600 {
  color: var(--blue-600) !important;
}

.bg-blue-600 {
  background: var(--blue-600) !important;
}

.text-blue-500 {
  color: var(--blue-500) !important;
}

.bg-blue-500 {
  background: var(--blue-500) !important;
}

.text-orange-25 {
  color: var(--orange-25) !important;
}

.bg-orange-25 {
  background: var(--orange-25) !important;
}

.text-orange-50 {
  color: var(--orange-50) !important;
}

.bg-orange-50 {
  background-color: var(--orange-50) !important;
}

.text-orange-100 {
  color: var(--orange-100) !important;
}

.bg-orange-100 {
  background: var(--orange-100) !important;
}

.text-success-200 {
  color: var(--success-200) !important;
}
.bg-success-200 {
  background: var(--success-200) !important;
}
.text-success-500 {
  color: var(--success-500) !important;
}
.bg-success-500 {
  background: var(--success-500) !important;
}
.text-success-700 {
  color: var(--success-700) !important;
}
.bg-success-700 {
  background: var(--success-700) !important;
}

.text-error-50 {
  color: var(--error-50) !important;
}

.bg-error-50 {
  background: var(--error-50) !important;
}

.text-error-700 {
  color: var(--error-700) !important;
}
.bg-error-700 {
  background: var(--error-700) !important;
}

.text-warning-200 {
  color: var(--warning-200) !important;
}
.bg-warning-200 {
  background: var(--warning-200) !important;
}
.text-warning-600 {
  color: var(--warning-600) !important;
}
.bg-warning-600 {
  background: var(--warning-600) !important;
}

.btn-primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: var(--primary-hover-color) !important;
}

.btn-gray {
  color: var(--gray-500);
  background-color: var(--gray-300);
  border: none;
}

/* Custom Style Start */
.liked {
  background-color: var(--primary-color);
  color: #fff;
}
.liked:hover {
  background-color: var(--primary-hover-color);
}
.active_course {
  color: #12B76A;
}